pip
Cython
PyYAML
coverage
coveralls
flake8
ipython
jupyter
matplotlib
mccabe
mpmath
numba
numpy
pytest>=3.6
pytest-cov
pytest-mock
pytest-pythonpath
python-dateutil
requests
requests-cache
scikit-learn
scipy
virtualenv
scapy
simplekml
lxml
toml
pyzmq
pandas
tqdm
rope
click
humanfriendly
black
tox
codecov
protobuf
isort
mypy
folium
geopandas
Pillow
bitarray
twine
bandersnatch
flake8-executable
flask
